/* omri */
@font-face {
    font-family: 'OMORI_GAME2';
    src: url('https://raw.githubusercontent.com/windows10win7posreadywoeskio/omrifont/main/OMORI_GAME2.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

