@font-face {
    font-family: 'Mojang';
    src: url('Mojang.woff2') format('woff2'),
        url('Mojang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

